Repository Zipstack/unstract, pull requests merged in 2025-03, with the labels that each got.

#1089 FEAT: Unified Notifications Feature Implementation
  backend/account_v2/authentication_controller.py
  backend/backend/settings/base.py
  backend/backend/urls_v2.py
  backend/logs_helper/__init__.py
  backend/logs_helper/apps.py
  backend/logs_helper/constants.py
  backend/logs_helper/log_service.py
  backend/logs_helper/serializers.py
  backend/logs_helper/urls.py
  backend/logs_helper/views.py
  backend/sample.env
  backend/utils/cache_service.py
  backend/utils/user_session.py
  frontend/src/App.jsx
  frontend/src/components/agency/agency/Agency.jsx
  frontend/src/components/custom-tools/tool-ide/ToolIde.jsx
  frontend/src/components/deployments/body/Body.jsx
  frontend/src/components/helpers/socket-messages/SocketMessages.js
  frontend/src/components/logs-and-notifications/DisplayLogsAndNotifications.css
  frontend/src/components/logs-and-notifications/DisplayLogsAndNotifications.jsx
  frontend/src/components/logs-and-notifications/LogsAndNotificationsTable.jsx
  frontend/src/components/logs-and-notifications/LogsHeader.jsx
  frontend/src/helpers/GetStaticData.js
  frontend/src/index.css
  frontend/src/layouts/page-layout/PageLayout.jsx
  frontend/src/store/alert-store.js
  frontend/src/store/socket-logs-store.js
  unstract/core/src/unstract/core/pubsub_helper.py
Labels: enhancement

#1175 FIX: Sidebar Collapse Button and Logs Component UI/UX Improvements
  frontend/src/components/logs-and-notifications/DisplayLogsAndNotifications.jsx
  frontend/src/components/logs-and-notifications/LogsHeader.jsx
  frontend/src/layouts/page-layout/PageLayout.css
  frontend/src/store/socket-logs-store.js
Labels: bug, enhancement

#1185 feat: Removed redundant execution statuses
  backend/workflow_manager/file_execution/migrations/0004_alter_workflowfileexecution_status.py
  backend/workflow_manager/file_execution/serializers.py
  backend/workflow_manager/workflow_v2/enums.py
  backend/workflow_manager/workflow_v2/execution.py
  backend/workflow_manager/workflow_v2/migrations/0010_alter_filehistory_status_and_more.py
  backend/workflow_manager/workflow_v2/workflow_helper.py
Labels: involves_migration

#1181 feat: Data migration to update total_files column of WorkflowExecution
  backend/workflow_manager/file_execution/migrations/0004_alter_workflowfileexecution_status.py
  backend/workflow_manager/file_execution/serializers.py
  backend/workflow_manager/workflow_v2/enums.py
  backend/workflow_manager/workflow_v2/execution.py
  backend/workflow_manager/workflow_v2/migrations/0009_update_total_files.py
  backend/workflow_manager/workflow_v2/migrations/0010_alter_filehistory_status_and_more.py
  backend/workflow_manager/workflow_v2/workflow_helper.py
Labels: involves_migration

#1187 feat: Modified execution log to use foreign key for execution
  backend/workflow_manager/workflow_v2/execution_log_utils.py
  backend/workflow_manager/workflow_v2/execution_log_view.py
  backend/workflow_manager/workflow_v2/migrations/0010_executionlog_wf_execution_and_more.py
  backend/workflow_manager/workflow_v2/models/__init__.py
  backend/workflow_manager/workflow_v2/models/execution_log.py
Labels: involves_migration
